# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.svg text eol=lf
